extends layout/page
include layout/utils

block prepend head
    - title = 'О нас'

block append main
    .section-long-gradient
        include components/about-hero/about-hero
        include components/floor-scheme/floor-scheme
        include components/rent-block/rent-block
