@use 'styles/utils';

.header {
    background-color: white;

    .container {
        margin: 0 auto;
    }

    &__desktop {
        padding: 25px 0;
    }

    &__mobile {
        display: none;
    }

    &-top {
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--border);
    }

    &-info {
        gap: 30px;
        display: flex;
        align-items: center;
        color: var(--black);
        font-size: 1.6rem;

        &__item {
            gap: 7px;
            display: flex;
            align-items: center;

            &::before {
                @include utils.square(20px);
                @include utils.bg-defaults(cover);
                content: '';
            }
            &.navigation::before {
                background-image: url('assets/icons/navigation.svg');
            }
            &.location::before {
                background-image: url('assets/icons/location.svg');
            }

            &.work-time::before {
                background-image: url('assets/icons/clock.svg');
            }
        }
    }

    &-main {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__search-button {
        gap: 11px;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 800;
        opacity: 0.35;

        &::after {
            @include utils.square(17px);
            @include utils.bg-defaults(cover);
            content: '';
            background-image: url('assets/icons/search.svg');
        }
    }

    .logo-wrapper {
        max-width: 150px;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .header {
        nav {
            margin-top: 30px;
        }

        .contact-block {
            margin-top: 30px;
        }

        &__desktop {
            display: none;
        }

        &__mobile {
            padding: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid var(--border);

            &-wrapper {
                position: fixed;
                padding: 30px 15px;
                width: 100%;
                overflow-y: auto;
                opacity: 0;
                visibility: hidden;
                background-color: white;
            }

            &.menu-opened {
                .header__menu-button::before {
                    background-image: url('assets/icons/close.svg');
                }

                & .header__mobile-wrapper {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .logo-wrapper {
            margin-left: 15px;
            max-width: 104px;
        }

        &__menu-button {
            gap: 5px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            color: var(--red);
            font-size: 1.6rem;
            font-weight: 800;

            &::before {
                @include utils.bg-defaults(cover);
                @include utils.square(20px);
                content: '';
                background-image: url('assets/icons/burger.svg');
            }
        }
    }
}
