include layout/utils
include layout/menu/menu
include layout/contacts-block/contacts-block

-
    var topMenu = [
        {
            name: 'ЦДБ Родина',
            link: '#'
        },
        {
            name: 'Схема этажей',
            link: '#'
        },
        {
            name: 'Аренда',
            link: '#'
        },
        {
            name: 'Контакты',
            link: '#'
        }
    ]
    var mainMenu = [
        {
            name: 'Развлечения',
            link: '/entertainment.html'
        },
        {
            name: 'Рестораны',
            link: '/restaurants.html'
        },
        {
            name: 'Магазины',
            link: '/shops.html'
        },
        {
            name: 'Услуги',
            link: '#'
        },
        {
            name: 'Новости и акции',
            link: '#'
        }
    ]


header.header
    .container.header__desktop
        .header-top
            +menu({items: topMenu})
            .header-info
                +anchor.header-info__item.navigation= 'Как добраться'
                .header-info__item.location= 'Казань, ул. Баумана, д. 44/8'
                .header-info__item.work-time= 'Ежедневно 8:00-22:00'
        .header-main
            .logo-wrapper
                +anchor('/'): +img(require('assets/icons/logo.svg'))
            +menu({items:mainMenu, bold: true})
            .header__search-button Что будем искать
    .header__mobile
        .logo-wrapper
            +anchor('/'): +img(require('assets/icons/logo.svg'))
        .header__menu-button Меню
        .header__mobile-wrapper
            .header__mobile-menu
                .header__search-button Что будем искать
                +menu({items: mainMenu, column:true})
                +menu({items: topMenu, column: true})
                +contactBlock
