include layout/utils
include layout/menu/menu
include layout/contacts-block/contacts-block

-
    var topMenu = [
        'ЦДБ Родина',
        'Схема этажей',
        'Аренда',
        'Контакты',
    ]
    var mainMenu = [
        'Развлечения',
        'Рестораны',
        'Магазины',
        'Услуги',
        'Новости и акции',
    ]


header.header
    .container.header__desktop
        .header-top
            +menu({items: topMenu})
            .header-info
                +anchor.header-info__item.navigation= 'Как добраться'
                .header-info__item.location= 'Казань, ул. Баумана, д. 44/8'
                .header-info__item.work-time= 'Ежедневно 8:00-22:00'
        .header-main
            .header__logo-wrapper
                +anchor('/'): +img(require('assets/icons/logo.svg')).header__logo
            +menu({items:mainMenu, bold: true})
            .header__search-button Что будем искать
    .header__mobile
        .header__logo-wrapper
            +anchor('/'): +img(require('assets/icons/logo.svg')).header__logo
        .header__menu-button Меню
        .header__mobile-wrapper
            .header__mobile-menu
                .header__search-button Что будем искать
                +menu({items: mainMenu, column:true})
                +menu({items: topMenu, column: true})
                +contactBlock
