include layout/utils

-
    var slides = [
        {
            title: 'История ЦДБ Родина',
            text: '<p>Центр бизнеса и досуга «Родина» — современный комплекс, совмещающий в себе торговые площади и обширную развлекательную инфраструктуру.</p><p>ТЦ расположился в самом центре Казани на улице Баумана. В непосредственной близости находятся остановки наземного общественного транспорта и станции метро «Кремлевская» и «Площадь Тукая».</p><p>Несмотря на стилизацию под постройку царских времен, пятиэтажное здание ЦБД новое и современное, оборудованное пожарно-охранной сигнализацией, видеонаблюдением и системой контроля доступа.</p><p>В комплексе можно найти магазины на любой вкус, бары и рестораны, развлекательные заведения.</p>',
            images: ['assets/content/about-hero/4.jpg','assets/content/about-hero/1.jpg','assets/content/about-hero/2.jpg','assets/content/about-hero/3.jpg',]
        },
        {
            title: 'Заголовок',
            text: '<p>Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.</p><p>Разнообразный и богатый опыт сложившаяся структура организации способствует подготовки и реализации новых предложений.</p>',
            images: ['assets/content/about-hero/1.jpg','assets/content/about-hero/2.jpg','assets/content/about-hero/3.jpg','assets/content/about-hero/4.jpg',]
        },
        {
            title: 'Другой заголовок',
            text: '<p>С учётом сложившейся международной обстановки, постоянное информационно-пропагандистское обеспечение нашей деятельности требует от нас анализа распределения внутренних резервов и ресурсов.</p><p>Как уже неоднократно упомянуто, элементы политического процесса формируют глобальную экономическую сеть и при этом — преданы социально-демократической анафеме.</p><p>Вот вам яркий пример современных тенденций — базовый вектор развития требует определения и уточнения вывода текущих активов. Противоположная точка зрения подразумевает, что акционеры крупнейших компаний представлены в исключительно положительном свете.</p><p>Вот вам яркий пример современных тенденций — базовый вектор развития требует определения и уточнения вывода текущих активов. Противоположная точка зрения подразумевает, что акционеры крупнейших компаний представлены в исключительно положительном свете.</p>',
            images: ['assets/content/about-hero/2.jpg','assets/content/about-hero/3.jpg','assets/content/about-hero/4.jpg','assets/content/about-hero/1.jpg',]
        },
    ]

section.section-wrapper__gradient.about-hero
    h1.about-hero__title О нас
    .about-hero__slider.swiper
        .swiper-wrapper
            each item in slides
                .about-hero__slide.swiper-slide
                    .about-hero__description
                        .about-hero__description-title= item.title
                        .about-hero__description-text!= item.text
                        +anchor.about-hero__button.button Узнать подробнее
                    .about-hero__images-wrapper
                        each image in item.images
                            +img(require(image)).about-hero__image
                        .about-hero__red-circle
        .swiper-pagination
