include layout/utils

mixin card(props)
    -
        var props = Object.assign({
            type: 'news' || 'entertainment',
            item: {
                image: '',
                icon: '',
                title: '',
                floor: '',
                date: ''
            }
        }, props || {})
    .card
        .card-container
            if props.type === 'entertainment' && props.item.icon
                .card-container__image
                    +img(require(props.item.image)).card-image
                    +img(require(props.item.icon)).card-icon
            else
                +img(require(props.item.image)).card-image
            .card__content
                .card-title= props.item.title
                .card-info= props.type === 'entertainment' ? props.item.floor : props.item.date
        if props.type=== 'news'
            .card__floor= props.item.floor
        +anchor.button Подробнее
