include layout/utils
-
    var cards = [
        {
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
        }
    ]


+section.entertament-block
    h2.entertament-block__subtitle Развлечения
    .entertament-block__title Незабываемые впечатления
    .entertament-block__slider
