include layout/utils

-
    var list = [
        { title: 'Кинотеатр Алмаз', logo: require('assets/content/renters/renter-3.jpg'), descr:'короткое описание' },
        { title: 'Фермерская лавка «SALUMERIA»', logo: require('assets/content/renters/renter-4.jpg'), descr:'короткое описание' },
        { title: 'Салон сигар ВЖ', logo: require('assets/content/renters/renter-14.jpg'), descr: 'Равным образом сложившаяся структура организации позволяет выполнять важные задания по разработке форм развития. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности играет важную роль в формировании дальнейших направлений развития.'
        },
        { title: 'Lazer Land Kazan', logo: require('assets/content/renters/renter-1.jpg')},
        { title: 'Галлерея «Ак барс»', logo: require('assets/content/renters/renter-2.jpg'), descr:'короткое описание' },
        { title: 'Магазин одежды «Peserico» ', logo: require('assets/content/renters/renter-16.jpg'), descr:'короткое описание' },
        { title: 'Модельный покер ', logo: require('assets/content/renters/renter-5.jpg'), descr:'короткое описание' },
        { title: 'Кофейня «Бинхартс»', logo: require('assets/content/renters/renter-6.jpg'), descr:'короткое описание' },
        { title: 'Парк VR «The Deep» ', logo: require('assets/content/renters/renter-18.jpg')},
        { title: 'СтендАпКлубКазань', logo: require('assets/content/renters/renter-7.jpg'), descr:'короткое описание' },
        { title: 'Киберспортивный клуб VAULT44', logo: require('assets/content/renters/renter-8.jpg')},
        { title: 'Галерея искусcтва «БИЗОН»', logo: require('assets/content/renters/renter-13.jpg'), descr:'короткое описание' },
        { title: 'Авиасимулятор «Боинг 737»', logo: require('assets/content/renters/renter-9.jpg'), descr:'короткое описание' },
        { title: 'Ресторан Cheeseria', logo: require('assets/content/renters/renter-10.jpg'), descr:'короткое описание' },
        { title: 'Ирландский паб «Тринити»', logo: require('assets/content/renters/renter-15.jpg'), descr:'короткое описание' },
        { title: 'Кулинарная мастерская «Тарелка»', logo: require('assets/content/renters/renter-11.jpg'), descr:'короткое описание' },
        { title: 'Гриль-бар «Шашлыкофф»', logo: require('assets/content/renters/renter-12.jpg')},
        { title: 'Мужской клуб «Burlesque»', logo: require('assets/content/renters/renter-17.jpg'), descr:'короткое описание' },
    ]

section.renter-list.section: .container
    h2.renter-list__title.section-title Список всех арендаторов
    ul.renter-list__list
        each item in list
            li.renter-list__item
                +img(item.logo).renter-list__item-img
                span.renter-list__item-title= item.title
                if (item.descr)
                    .renter-list__item-descr.content
                        p= item.descr
