@use 'styles/utils';

.renter-list {
    &__title {
        margin-bottom: 50px;
        text-align: center;
    }

    &__list {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0 35px;
        display: grid;
    }

    &__item {
        gap: 25px;
        position: relative;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        cursor: pointer;
        border-bottom: 1px solid #d0d9eb;

        &-descr {
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            transform: translateY(100%);
            padding: 12px;
            width: 100%;
            opacity: 0;
            background-color: white;
            transition:
                transform 300ms linear,
                opacity 300ms linear;
        }

        &._opened {
            .renter-list__item-descr {
                z-index: 11;
                transform: translateY(calc(100% + 10px));
                opacity: 1;
                transition:
                    transform 300ms linear,
                    opacity 300ms linear;
            }
        }

        &:has(.content):after {
            content: '';
            @include utils.square(15px);
            @include utils.bg-defaults(auto);
            margin-left: auto;
            background-image: url('assets/icons/thin-arrow.svg');
            transition: rotate 300ms linear;
        }

        &._opened:has(.content):after {
            rotate: 180deg;
            transition: rotate 300ms linear;
        }
    }

    &__item-img {
        object-fit: cover;
        object-position: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }

    &__item-title {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3.3rem;
    }
}

@media only screen and (max-width: utils.$mobile600) {
    .renter-list {
        &__title {
            margin-bottom: 15px;
        }

        &__list {
            gap: 0;
            grid-template-columns: 1fr;
        }

        &__item {
            gap: 10px;
            padding: 10px;
        }

        &__item-img {
            width: 19px;
            height: 19px;
        }

        &__item-title {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
}
