extends layout/page
include layout/utils

block prepend head
    - title = 'Главная'

block append main
    include components/main-hero/main-hero
    include components/about/about
    include components/entertainment-block/entertainment-block
    include components/restaurant-block/restaurant-block
