extends layout/page

block prepend head
    - title = 'Главная'

block append main
    .container
        .map
            .map-container(data-coords='55.791440, 49.112172')
            .map-contacts
                h2.map-contacts__header Как нас найти
                .map-contacts__container
                    .map-contacts__content
                        .map-contacts__content-title Адрес:
                        .map-contacts__content-text Казань, ул. Баумана, д. 44/8
                    .map-contacts__content
                        .map-contacts__content-title Часы работы:
                        .map-contacts__content-text Ежедневно 8:00-22:00
                    .map-contacts__button: +anchor Построить маршрут
