extends layout/page
include layout/utils

block prepend head
    - title = 'Главная'

block append main
    include components/main-hero/main-hero
    include components/about/about
    include components/entertainment-block/entertainment-block
    include components/restaurant-block/restaurant-block
    include components/shops-block/shops-block
    .section-long-gradient
        include components/news-sales-section/news-sales-section
        include components/room-section/room-section
    include components/seo-section/seo-section
    include components/map-contacts/map-contacts
