@use 'styles/utils';
@use 'node_modules/swiper/swiper.scss';
@use 'node_modules/swiper/modules/effect-fade';
@use 'node_modules/swiper/modules/autoplay';

.section-wrapper__gradient.main-hero {
    padding: 0;
    height: 865px;
}

.main-hero {
    &__slide {
        padding-top: 140px;
        padding-left: 160px;
        display: flex;

        &-text {
            width: 815px;
            display: flex;
            flex-direction: column;
        }

        &-subtitle {
            font-size: 2.4rem;
            font-weight: 800;
        }

        &-title {
            margin: 15px 0 40px;
            font-size: 6.1rem;
            font-weight: 800;
            line-height: 107%;
        }

        &-button {
            margin-top: 60px;
            padding: 15px 40px;
            width: fit-content;
            font-size: 1.6rem;
            font-weight: 800;
            border-radius: 15px;
            border: 2px solid var(--red);
        }

        &-image {
            object-position: center;
            object-fit: cover;
            position: absolute;
            width: 100%;
            border-radius: 100%;

            &.small {
                max-width: 150px;
                height: 150px;
            }
            &.medium {
                max-width: 265px;
                height: 265px;
            }
            &.main {
                max-width: 500px;
                height: 500px;
            }

            &:first-child {
                top: -75px;
                right: 555px;
            }
            &:nth-child(2) {
                top: -116px;
                right: 160px;
            }
            &:nth-child(3) {
                top: 362px;
                right: 775px;
            }

            &:nth-child(4) {
                top: 126px;
                right: 245px;
            }
            &:nth-child(5) {
                top: 195px;
                right: 76px;
            }

            &:nth-child(6) {
                right: 735px;
                bottom: 33px;
            }
            &:nth-child(7) {
                right: 263px;
                bottom: 89px;
            }

            &:nth-child(8) {
                right: -22px;
                bottom: 183px;
            }
        }

        &-circle {
            @include utils.circle(100px);
            position: absolute;
            background-color: var(--red);

            &:first-of-type {
                top: 126px;
                right: 745px;
            }
            &:nth-of-type(2) {
                top: 26px;
                right: -24px;
            }
            &:nth-of-type(3) {
                right: 463px;
                bottom: 39px;
            }

            &:nth-of-type(4) {
                right: -50px;
                bottom: 24px;
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .section-wrapper__gradient.main-hero {
        height: fit-content;
    }
    .main-hero {
        &__slide {
            padding: 0;
            flex-direction: column-reverse;

            &-text {
                padding: 250px 27px 74px;
                width: 100%;
                text-align: center;
            }

            &-subtitle {
                color: #9b9cad;
                font-size: 1.8rem;
            }

            &-title {
                margin: 10px 0;
                font-size: 2.4rem;
            }

            &-button {
                margin-top: 20px;
                width: 100%;
                color: white;
                text-align: center;
                background-color: var(--red);
                border: none;
            }

            &-circle {
                display: none;
            }

            &-image {
                &:first-child {
                    top: 71px;
                    left: -76px;
                    max-width: 130px;
                    height: 130px;
                }
                &:nth-child(2) {
                    top: 0;
                    left: 36px;
                    max-width: 92px;
                    height: 92px;
                }
                &:nth-child(3) {
                    top: 160px;
                    left: 68px;
                    max-width: 73px;
                    height: 73px;
                }

                &:nth-child(4) {
                    top: 52px;
                    left: 120px;
                    max-width: 128px;
                    height: 128px;
                }
                &:nth-child(5) {
                    top: -49px;
                    right: 87px;
                    max-width: 94px;
                    height: 94px;
                }

                &:nth-child(6) {
                    top: 16px;
                    right: -92px;
                    max-width: 194px;
                    height: 194px;
                }
                &:nth-child(7) {
                    display: none;
                }

                &:nth-child(8) {
                    display: none;
                }
            }
        }
    }
}
