include layout/utils

.seo-section.section: .container
    .seo-section__inner.content
        h2 Seo text
        p Первый и второй этажи занимает торговая галерея, представленная мировыми брендами: одежда, обувь, бытовая техника и электроника, спортивные товары, товары для детей и многое другое. Удобные информационные стенды на этажах помогают сориентироваться и найти нужный бутик или магазин, даже если вы пришли к нам в первый раз. Первый и второй этажи занимает торговая галерея, представленная мировыми брендами: одежда, обувь, бытовая техника и электроника, спортивные товары, товары для детей и многое другое
        p Первый и второй этажи занимает торговая галерея, представленная мировыми брендами: одежда, обувь, бытовая техника и электроника, спортивные товары, товары для детей и многое другое. Удобные информационные стенды на этажах помогают сориентироваться и найти нужный бутик или магазин, даже если вы пришли к нам в первый раз. Первый и второй этажи занимает торговая галерея, представленная мировыми брендами: одежда, обувь, бытовая техника и электроника, спортивные товары, товары для детей и многое другое
    button.seo-section__read-more Читать дальше
