include layout/utils

section.about
    .about-content
        .about-subtitle О проекте
        h2.about-title Центр досуга и бизнеса «Родина»
        .about-text Первый и второй этажи занимает торговая галерея, представленная мировыми брендами: одежда, обувь, бытовая техника и электроника, спортивные товары, товары для детей и многое другое. Удобные информационные стенды на этажах помогают сориентироваться и найти нужный бутик или магазин, даже если вы пришли к нам в первый раз.
        +anchor('/about').button.about-button Узнать подробнее
    +img(require('assets/static/scroll-image.png')).about-image
    .about-cloud Работаем с 1993 года
    .about-gradient
    .about-ellipse
