extends layout/page
include layout/utils
include ui/cards/news-entertainment/card
    block prepend head
        - title = 'Новости и акции'

    block append main
        include components/news-list/news-list
