@use 'styles/utils';

.contact-block {
    gap: 20px;
    display: flex;
    flex-direction: column;
    font-family: var(--inter), sans-serif;
    font-size: 1.8rem;

    &__title {
        opacity: 0.35;
    }

    &__item {
        gap: 7px;
        display: flex;
        align-items: center;

        &::before {
            @include utils.square(20px);
            @include utils.bg-defaults(cover);
            content: '';
        }
        &.navigation::before {
            background-image: url('assets/icons/navigation.svg');
        }
        &.location::before {
            background-image: url('assets/icons/location.svg');
        }

        &.work-time::before {
            background-image: url('assets/icons/clock.svg');
        }

        &.tel::before {
            background-image: url('assets/icons/phone.svg');
        }

        &.mail::before {
            background-image: url('assets/icons/mail.svg');
        }
    }
}
