include layout/utils
include entertainment-card/entertainment-card

-
    var cards = [
        {
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment1.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment2.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment3.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment4.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment5.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment6.png')
        },{
            title: 'Авиасимулятор -тренажер самолета «Боинг 737»',
            floor: '1 этаж',
            image: require('assets/content/entertainment7.png')
        },
    ]


section.entertainment-block
    h2.entertainment-block__subtitle Развлечения
    .entertainment-block__title Незабываемые впечатления
    .entertainment-block__slider.swiper
        .swiper-wrapper
            each item in cards
                +entertainmentCard(item).swiper-slide.entertainment-block__slide
        .swiper-button-prev
        .swiper-button-next
