@use 'styles/utils';
@use 'node_modules/swiper/swiper';
@use 'node_modules/swiper/modules/effect-creative';
@use 'node_modules/swiper/modules/navigation';
@use 'entertainment-card/entertainment-card';

.entertainment-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__subtitle {
        margin-bottom: 15px;
        opacity: 0.35;
    }

    &__title {
        font-size: 4.4rem;
        font-weight: 800;
    }

    .swiper {
        position: static;
        &-button-prev,
        &-button-next {
            @include utils.bg-defaults(auto);
            @include utils.circle(50px);
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            background-image: url('assets/icons/arrow.svg');
            border: 1.5px solid var(--red);

            &::after {
                content: none;
            }
        }

        &-button-prev {
            left: 70px;
            transform: rotate(180deg);
        }

        &-button-next {
            right: 70px;
        }

        @media only screen and (min-width: utils.$tablet1000) {
            margin: 50px 0;
            width: 1600px;

            &-wrapper {
                position: static;
                align-items: center;
            }

            &-slide {
                --prevSlide-right-padding: 360px;
                --activeSlide-right-padding: calc(var(--prevSlide-right-padding) + 178px);
                --nextSlide-right-padding: calc(var(--activeSlide-right-padding) + 172px);
                --lastSlide-right-padding: calc(var(--nextSlide-right-padding) + 370px);
                position: relative;
                transition: all 0.5s ease-out;

                &-next,
                &-prev {
                    z-index: 20;
                    transform: rotate(-2deg);
                    width: 532px !important;
                    height: 570px;
                }

                &-next + .swiper-slide,
                &:has(+ .swiper-slide-prev) {
                    z-index: 10;
                    width: 532px !important;
                    height: 460px;
                }

                &-active {
                    z-index: 30;
                    right: var(--activeSlide-right-padding);
                    transform: rotate(0);
                    width: 546px !important;
                    height: 680px;

                    &._small {
                        width: 532px !important;
                        height: 570px;
                    }
                }

                &-prev {
                    right: var(--prevSlide-right-padding);
                }

                &-next {
                    right: var(--nextSlide-right-padding);
                }

                &-next + .swiper-slide {
                    right: var(--lastSlide-right-padding);
                    transform: rotate(-2deg);
                }

                &:not(.swiper-slide-active):hover {
                    z-index: 40;
                    transform: rotate(0);
                    width: 546px !important;
                    height: 680px;
                }
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .entertainment-block {
        padding: 15px;
        display: block;

        &__subtitle {
            margin-bottom: 5px;
            font-size: 1.6rem;
            text-transform: lowercase;
        }

        &__title {
            font-size: 2.4rem;
        }

        &__slider {
            margin: 20px 0;
            padding: 0 5px;
        }

        .swiper {
            &-button-next,
            &-button-prev {
                @include utils.circle(30px);
            }

            &-button-prev {
                left: 10px;
            }

            &-button-next {
                right: 10px;
            }
        }

        &__button {
            width: 100%;
        }
    }
}
