@use 'styles/utils';

.shops-block {
    margin-top: 169px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 534px;
    }

    &__title {
        margin-bottom: 15px;
        opacity: 0.35;
    }

    &__subtitle {
        margin-bottom: 35px;
        font-size: 4.4rem;
        font-weight: 800;
    }

    &__description {
        margin-bottom: 40px;
    }

    &__slider {
        position: relative;
        width: 970px;
        height: 677px;

        &-inner {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    &__slide {
        @include utils.square(200px);
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        transition: all linear 500ms;

        &::after {
            content: '';
            @include utils.circle(140px);
            position: absolute;
            z-index: -10;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            opacity: 0.5;
            background-color: var(--red);
            transition: all linear 500ms;
        }

        &-image {
            object-position: center;
            object-fit: cover;
            width: 100%;
            max-width: 120px;
            height: 120px;
            transition: all linear 500ms;
        }

        &-title {
            margin-top: 18px;
            display: none;
            font-size: 3.5rem;
            font-weight: 800;
        }

        &._active {
            top: 0;
            left: 86px;
            translate: 0;
            width: 545px;
            height: 666px;
            opacity: 1;
            visibility: visible;

            &::after {
                scale: 3.9;
                opacity: 1;
            }

            .shops-block__slide-image {
                max-width: 453px;
                height: 613px;
            }
            & + .shops-block__slide {
                top: 100%;
                left: 100%;
                translate: calc(var(--size) * -1 - 168px) -100%;
                opacity: 1;
                visibility: visible;

                & + .shops-block__slide {
                    top: 50%;
                    left: 100%;
                    translate: -100% -50%;
                    opacity: 1;
                    visibility: visible;

                    & + .shops-block__slide {
                        top: 0;
                        left: 100%;
                        translate: calc(var(--size) * -1 - 168px) 0;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            .shops-block__slide-title {
                display: block;
            }
        }
    }

    &__navigation {
        gap: 30px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;

        &-prev,
        &-next {
            @include utils.circle(50px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1.5px solid var(--red);

            &::after {
                content: '';
                @include utils.bg-defaults(contain);
                width: 8px;
                height: 16px;
                background-image: url('assets/icons/arrow.svg');
            }
        }

        &-prev {
            transform: rotate(90deg);
        }

        &-next {
            transform: rotate(-90deg);
        }
    }
}

@media screen and (max-width: utils.$tablet1000) {
    .shops-block {
        margin-top: -50px;
        border-top: 1px solid var(--border);

        .container {
            padding-top: 50px;
            flex-direction: column;
        }

        &__slider {
            width: 100%;
            height: 550px;
        }

        &__slide {
            @include utils.square(63px);
            top: 66px;
            left: 100%;
            translate: -100% 0;

            &::after {
                @include utils.circle(63px);
            }

            &._active {
                top: 83px;
                left: 50%;
                translate: -50% 0;
                width: 245px;
                height: 310px;

                .shops-block__slide-image {
                    max-width: 204px;
                    height: 275px;
                }

                & + .shops-block__slide {
                    top: 83px;
                    left: 0;
                    translate: 0;

                    & + .shops-block__slide {
                        top: 0;
                        left: 50%;
                        translate: -50% 0;

                        & + .shops-block__slide {
                            top: 83px;
                            left: 100%;
                            translate: -100% 0;
                        }
                    }
                }
            }

            &-title {
                font-size: 1.8rem;
            }
        }

        &__navigation {
            top: auto;
            bottom: 58px;
            left: 50%;
            transform: translate(-50%, 0);
            flex-direction: row;

            &-next,
            &-prev {
                gap: 5px;
                padding: 10px 0;
                width: 165px;
                height: fit-content;
                display: flex;
                justify-content: center;
                font-size: 1.6rem;
                font-weight: 800;
                border-radius: 50px;
                border-width: 2px;
            }

            &-prev {
                transform: rotate(0);
                flex-direction: row-reverse;

                &::after {
                    transform: rotate(180deg);
                }

                &::before {
                    content: 'Назад';
                }
            }

            &-next {
                transform: rotate(0);
                &::before {
                    content: 'Далее';
                }
            }
        }

        &__info {
            width: 100%;
        }

        &__title {
            text-transform: lowercase;
        }

        &__subtitle {
            margin-bottom: 10px;
            font-size: 2.4rem;
        }

        &__description {
            margin-bottom: 20px;
            font-size: 1.6rem;
        }
    }
}
