.menu {
    color: var(--black);

    ul {
        gap: 30px;
        display: flex;
        align-items: center;
        font-size: 1.6rem;

        &.menu__column {
            gap: 15px;
            flex-direction: column;
            align-items: start;
            font-size: 1.8rem;
        }

        &.menu__main {
            font-size: 1.8rem;
            font-weight: 800;
        }
    }
}
