@font-face {
    src:
        url('assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
        url('assets/fonts/Nunito/Nunito-Regular.woff') format('woff'),
        url('assets/fonts/Nunito/Nunito-Regular.ttf') format('ttf');
    font-family: 'Nunito';
    font-weight: 400;
}
@font-face {
    src:
        url('assets/fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/Nunito/Nunito-ExtraBold.woff') format('woff'),
        url('assets/fonts/Nunito/Nunito-ExtraBold.ttf') format('ttf');
    font-family: 'Nunito';
    font-weight: 800;
}
