@use 'styles/utils';

html {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-size: 62.5%;
}

section {
    padding: 0 160px;

    @media only screen and (max-width: utils.$mobile600) {
        padding: 0 15px;
    }
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: 1600px;

    @media only screen and (max-width: utils.$mobile600) {
        max-width: 345px;
    }
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

body {
    overflow-x: clip;
    font-family: var(--nunito);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.5rem;
    background-color: white;
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.logo-wrapper img {
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

.content {
    p + p {
        margin-top: 15px;
    }

    @media only screen and (max-width: utils.$mobile600) {
        p + p {
            margin-top: 19px;
        }
    }
}
