:root {
    --sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --nunito: 'Nunito', var(--sans);
    --inter: 'Inter', var(--sans);
    --red: hsl(353, 85%, 48%);
    --black: hsl(0, 0%, 13%);
    --border: hsl(220, 40%, 87%);
    --gray: hsl(237, 10%, 64%);
    --circle-gray: hsl(221, 64%, 83%);
    --circle-blue: hsl(220, 64%, 59%);
}
